---
import HeroComponent from '@components/hero.component';
import MentorsComponent from '@components/mentors.component';
import Layout from '@layout/Layout.astro';
---

<Layout>
  <main>
    <HeroComponent client:visible />
    <MentorsComponent client:visible />
  </main>
</Layout>
