---
import { AboutUsComponent } from '@components/about-us.component';
import HeroComponent from '@components/hero.component';
import MentorsComponent from '@components/mentors.component';
import Layout from '@layout/Layout.astro';
import { FooterComponent } from '@components/footer.component';
---

<Layout>
  <main>
    <HeroComponent client:visible />
    <AboutUsComponent client:visible />
    <MentorsComponent client:visible />
    <FooterComponent client:visible />
  </main>
</Layout>
