---
import { AboutUsComponent } from '@components/about-us.component';
import HeroComponent from '@components/hero.component';
import MentorsComponent from '@components/mentors.component';
import BlogComponent from '@components/blog/blog.component';
import Layout from '@layout/Layout.astro';
import SponsorsComponent from '@components/sponsors.component';
---

<Layout>
  <main>
    <HeroComponent client:visible />
    <AboutUsComponent client:visible />
    <MentorsComponent client:visible />
    <BlogComponent client:visible />
    <SponsorsComponent client:visible />
  </main>
</Layout>
