---
import Layout from '@layout/Layout.astro';
import { getCollection } from 'astro:content';

const tutorials = await getCollection('tutorial', ({ data }) => {
  return data.published;
});
---

<Layout>
  <article>
    <section>
      {
        tutorials.map((tutorial) => (
          <a
            class="flex h-full flex-col "
            href={`/tutorial/${tutorial.data.slug}`}
            data-astro-prefetch
          >
            {tutorial.data.title}
          </a>
        ))
      }
    </section>
  </article>
</Layout>
