---
import '@styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <title>NG Init</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="og:title" content="NG Init" />
    <meta name="og:site_name" content="NG Init" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <slot />
  </body>
</html>
