---
import NavbarComponent from '@components/navbar.component';
import FooterComponent from '@components/footer.component';

import '@styles/global.css';
---

<!doctype html>
<html lang="es">
  <head>
    <title>NG | INIT</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.ico?v=0.0.1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="NG | INIT es un taller introductorio a Angular donde aprenderás los fundamentos del framework, desde la configuración inicial hasta la creación de tus primeros componentes. ¡Empieza tu viaje en el desarrollo web con Angular!"
    />
    <meta
      name="og:description"
      content="NG | INIT es un taller introductorio a Angular donde aprenderás los fundamentos del framework, desde la configuración inicial hasta la creación de tus primeros componentes. ¡Empieza tu viaje en el desarrollo web con Angular!"
    />
    <meta name="keywords" content="ng, init, angular, bolivia" />
    <meta name="og:title" content="NG | INIT" />
    <meta name="og:site_name" content="NG | INIT" />
    <meta name="og:image" content="/meta-icon.png" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <NavbarComponent client:visible />
    <slot />
    <FooterComponent client:visible />
  </body>
</html>
